.body {
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 595px;
  flex-direction: column;
}

.visit-card {
  display: flex;
  justify-content: center;
  background-color: #444444;
  width: 1127px;
  border-radius: 30px;
}

.main-information {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.employee-info {
  margin-top: 12.5%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.connection {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.CV-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5vh solid white;
  text-decoration: none;
  color: white;
  width: 168px;
  height: 46px;
  border-radius: 40px;
  font-size: 17px;
  background-color: #444444;
  transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
}

.big-field {
  height: 595px;
  width: 747px;
  left: 380px;
  border-radius: 30px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 180px;
  margin-top: 23px;
  margin-bottom: 8px;
  border-radius: 50%;
  box-shadow: 12px 12px 0 grey;
}

.my-name {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.my-profession {
  font-size: 20px;
}

.icon {
  width: 28px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer {
  font-size: 14px;
  margin-bottom: 15px;
}

.name {
  font-weight: bold;
  font-size: 62px;
  line-height: 71px;
  text-align: center;
}

.profession {
  font-size: 22px;
}

.main-column {
  margin-top: 12.5%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}